*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    margin: auto;
    width: 80%;
  }
  /*color: #9356DC  #FF79DA  #99E2D0 */

/******************************************************* DEBUT MEDIA QUERIES IPHONE **************************************************************/

@media all and  (max-width: 667px)  { 
    body {
        width: 100%;
      }

/*****DEBUT HEADER*****/
    header{
        text-align: center;
        
    }
    header img{
        width: 40%;
        padding-top: 3vh;
    }
    .localisation{
      background-color: #ededed;
      height: 7vh;
      box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);


    }
    header .localisation div{
        display: flex;
        font-weight: 100; 
        font-family: 'roboto';
        justify-content: center;
        padding-top: 2vh;
        margin: .5rem 0 0 -10% ;
        

    }
    .localisation i{
      width: 10%;
    }
    
    .reservation_header{
        background-color: #f7f7f7;
        height: 36vh;
    }
    header .reservation_header h2{
        padding-top: 5vh;
        width: 60%;
        margin: 0 auto;     
    }
    .reservation_header p{
        width: 80%;
        margin: 0 auto; 
        padding: 2vh;  
        font-weight: 100; 
        font-family: 'roboto';
    }
    button{
      color: white;
      padding: 15px;
      border-radius: 30px 30px 30px 30px;
      background: linear-gradient(#ff79da, #9356dc);
      border: none;
      width: 50%;
    }
    /*.reservation_header .explore{
        padding: 15px;
        border-radius: 30px 30px 30px 30px;
        color: white;
        background: linear-gradient(#ff79da, #9356dc);
        width: 55%;
        margin: 0 auto;
    }*/
    /************* FIN HEADER *************/
    /************* DEBUT NAV *************/
    nav{
      margin: 5vh 0 4rem 5%;

      
    }
    nav aside .fonction{
      display: flex;
      position: relative;
      width: 95%;
      padding-top: 5%;


    }
    nav aside .choix_resto{
      background-color: #f7f7f7;
      width: 100%;
      height: 10vh;
      border-radius: 20px 20px 20px 20px;
      font-family: 'roboto',sans-serif;   
      -webkit-box-shadow: 5px 5px 19px 18px rgba(0, 0, 0, 0.36);
      box-shadow: 5px 5px 15px 1px rgba(0, 0, 0, 0.10);    
    }
    nav aside .choix_resto:hover{
      background:  #f1e7fe;
    }
    nav .choix_resto i{
      color:grey;
    }
    nav .choix_resto i:hover{
      color: #9356DC;
    }
    nav .m{
      margin: 3.9vh 0 0 8%;

    }
    nav a{
      text-decoration: none;
      color: black;
      padding-left: 6%;
      margin: 0 0 0;

    }
    nav p{
      border-radius: 50%;
      background-color: #9356DC;
      color: white;
      width: 6%;
      padding: 2px;
      position: absolute;
      bottom: 3vh;
      text-align: center;
      left: -1.5vh;
    }
        
     /************* FIN NAV *************/

    /*****DEBUT MAIN*****/
    main{
        display: flex;
    width: 100%;
    flex-wrap: nowrap;
    background-color: #f7f7f7;
    padding: 3vh;
    }
    #resto{
      height: 160vh;
      padding-top: 3vh;


    }
    .wrapper{
        display: flex;
          flex-direction: column;
          width: 100%;
          margin: 0 auto;   
          padding: 0 0 2vh;
          position: relative;
      }
      #resto article{
        width: 100%;
      }
      #resto h2{
        padding-bottom: 2vh;
      }
      .ranger1{
        display: flex;
      flex-direction: column;
      }
      .ranger1 img{
        width: 100%;
        border-radius: 20px 20px 0px 0px;
        height: 25vh;
      }
      .ranger1 p{
        position: absolute;
        left: 73%;
        top: 6%;
        border-radius: 3px 3px 3px 3px;
        color: green;
        background-color: #99E2D0;
        height: 5vh;
        width: 24%;
        text-align: center;
        padding: 2%;
      }
     
      
      .textimg {
        width: 100%;
        -webkit-box-shadow: 5px 5px 19px 18px rgba(0, 0, 0, 0.36);
        box-shadow: 5px 5px 15px 1px rgba(0, 0, 0, 0.10); 
        border-radius: 0px 0px 15px 15px;
        height: 10vh;
        display: flex;
        flex-wrap: wrap;
        background-color: white;

      }
      
      .h{
        width: 80%;
        margin: 0 0 0rem 5%;
        padding-top: 2vh;
      }
      .h h3{
        font-family: 'roboto',sans-serif;
      }
      .h span{
        font-family: 'roboto';
        font-weight: 100;
      }
      .heart1{
        padding-top: 3vh;
      }
     
     /************* FIN MAIN *************/
        /*****DEBUT FOOTER*****/
      footer{
        background-color: #434343;
        color: white;
        font-weight: 100; 
        font-family: 'roboto';
        height: 30vh;
      }
      .contrat, .partenaire{
        display: flex;
        flex-wrap: wrap;
      }
      
      .partenaire{
        padding-top: 1.5vh;
      }
      .contrat i, .partenaire i{
        width: 8%;
      }
      footer h4{
        font-family: 'Shrikhand';
        font-weight: 600;
        padding-top: 3vh;
        margin: 0 0 0rem 5%;
      }
      #footer {
        margin: 1.5rem 0 0 5%;
        
      }
      .contact{
        padding-top: 1.5vh;
        

      }
    
      
      


    

}